In [7]:
import pandas as pd
import pantab
from tableauhyperapi import TableName

## frame_to_hyper

In [5]:
df = pd.read_csv("data/starter_pokemon1.csv")

In [6]:
df

,pokedex_num,name,type,base_hp,base_attack,base_defense,base_sp_attack,base_sp_defense,base_speed,total_base
0,1,Bulbasaur,"Grass, Poison",45,49,49,65,65,45,318
1,2,Ivysaur,"Grass, Poison",60,62,63,80,80,60,405
2,3,Venusaur,"Grass, Poison",80,82,83,100,100,80,525

In [20]:
# save DataFrame output to .hyper file
pantab.frame_to_hyper(df, "pokemon_part1.hyper", table = "pokemon_table")

In [ ]:
# save to schema other than public
pantab.frame_to_hyper(df, "pokemon_part2.hyper", table = TableName("Extract", "pokemon_table"))

## frames_from_hyper

In [22]:
frames = pantab.frames_from_hyper("pokemon_part2.hyper")

# show all tables
frames.keys()

dict_keys([TableName('Extract', 'pokemon_table')])

## frame_from_hyper

In [23]:
pantab.frame_from_hyper("pokemon_part2.hyper")

TypeError: frame_from_hyper() missing 1 required keyword-only argument: 'table'

In [29]:
pantab.frame_from_hyper("pokemon_part2.hyper", table = "pokemon_table")

HyperException: Specified table does not exist: pokemon_table.
Context: 0x7bd02a3b

In [25]:
# specify schema to read table from
pantab.frame_from_hyper("pokemon_part2.hyper", table = TableName("Extract", "pokemon_table"))

,pokedex_num,name,type,base_hp,base_attack,base_defense,base_sp_attack,base_sp_defense,base_speed,total_base
0,1,Bulbasaur,"Grass, Poison",45,49,49,65,65,45,318
1,2,Ivysaur,"Grass, Poison",60,62,63,80,80,60,405
2,3,Venusaur,"Grass, Poison",80,82,83,100,100,80,525

In [26]:
pantab.frame_from_hyper("pokemon_part1.hyper", table = "pokemon_table")

,pokedex_num,name,type,base_hp,base_attack,base_defense,base_sp_attack,base_sp_defense,base_speed,total_base
0,1,Bulbasaur,"Grass, Poison",45,49,49,65,65,45,318
1,2,Ivysaur,"Grass, Poison",60,62,63,80,80,60,405
2,3,Venusaur,"Grass, Poison",80,82,83,100,100,80,525

In [28]:
pantab.frame_from_hyper("pokemon_part1.hyper", table = TableName("public", "pokemon_table"))

,pokedex_num,name,type,base_hp,base_attack,base_defense,base_sp_attack,base_sp_defense,base_speed,total_base
0,1,Bulbasaur,"Grass, Poison",45,49,49,65,65,45,318
1,2,Ivysaur,"Grass, Poison",60,62,63,80,80,60,405
2,3,Venusaur,"Grass, Poison",80,82,83,100,100,80,525

## frames_to_hyper

In [31]:
df1 = pd.read_csv("data/starter_pokemon1.csv")
df2 = pd.read_csv("data/starter_pokemon2.csv")
df3 = pd.read_csv("data/starter_pokemon3.csv")

dict_df = {"grass": df1, "fire": df2, "water": df3}

In [33]:
pantab.frames_to_hyper(dict_df, "all_pokemon.hyper")

In [35]:
# but wait, we can't union hyper files. Can get around this using pandas itself

final_df = df1.append(df2).append(df3)
final_df

,pokedex_num,name,type,base_hp,base_attack,base_defense,base_sp_attack,base_sp_defense,base_speed,total_base
0,1,Bulbasaur,"Grass, Poison",45,49,49,65,65,45,318
1,2,Ivysaur,"Grass, Poison",60,62,63,80,80,60,405
2,3,Venusaur,"Grass, Poison",80,82,83,100,100,80,525
0,4,Charmander,Fire,39,52,43,60,50,65,309
1,5,Charmeleon,Fire,58,64,58,80,65,80,405
2,6,Charizard,"Fire, Flying",78,84,78,109,85,100,534
0,7,Squirtle,Water,44,48,65,50,64,43,314
1,8,Wartortle,Water,59,63,80,65,80,58,405
2,9,Blastoise,Water,79,83,100,85,105,78,530

In [38]:
pantab.frames_to_hyper({"pokemon": final_df}, "all_pokemon_fixed.hyper")

In [43]:
# alternative: append .hyper files to each other

pantab.frame_to_hyper(df1, "pokemon_all.hyper", table = "pokemon")

In [44]:
pantab.frame_to_hyper(df2, "pokemon_all.hyper", table = "pokemon", table_mode = "a")
pantab.frame_to_hyper(df3, "pokemon_all.hyper", table = "pokemon", table_mode = "a")

## using Hyper API instead

In [50]:
import csv
from tableauhyperapi import HyperProcess, Telemetry, Connection, CreateMode, NOT_NULLABLE, NULLABLE, SqlType, \
TableDefinition, Inserter, escape_name, escape_string_literal, HyperException, TableName

In [63]:
with HyperProcess(telemetry=Telemetry.DO_NOT_SEND_USAGE_DATA_TO_TABLEAU) as hyper:
    print("starting up Hyper Process")
    with Connection(hyper.endpoint, 'pokemon_hyper_api.hyper', CreateMode.CREATE_AND_REPLACE) as connection:
        print("creating or replacing pokemon_hyper_api.hyper")
        
        poke_table = TableDefinition(TableName('public','pokemon'), [
                                                                     TableDefinition.Column('pokedex_num', SqlType.int()),
                                                                     TableDefinition.Column('name', SqlType.varchar(255)),
                                                                     TableDefinition.Column('type', SqlType.varchar(255)),
                                                                     TableDefinition.Column('base_hp', SqlType.int()),
                                                                     TableDefinition.Column('base_attack', SqlType.int()),
                                                                     TableDefinition.Column('base_defense', SqlType.int()),
                                                                     TableDefinition.Column('base_sp_attack', SqlType.int()),
                                                                     TableDefinition.Column('base_sp_defense', SqlType.int()),
                                                                     TableDefinition.Column('base_speed', SqlType.int()),
                                                                     TableDefinition.Column('total_base', SqlType.int())
                                                                    ])
        # TableName('Extract') creates public.Extract instead
        connection.catalog.create_table(poke_table)
        print("created table")
        
        with Inserter(connection, poke_table) as inserter:
            with open('data/starter_pokemon1.csv') as f:
                next(f) # skip header row
                reader = csv.reader(f, delimiter = ',')
                for row in reader:
                    inserter.add_row([int(x) if x.isdigit() else x for x in row])
            inserter.execute()
            print("inserted rows with data")
        
    print("closing Hyper Process connection")

starting up Hyper Process
creating or replacing pokemon_hyper_api.hyper
created table
inserted rows with data
closing Hyper Process connection

In [62]:
with open('data/starter_pokemon1.csv') as f:
    next(f) # skip header row
    reader = csv.reader(f, delimiter = ',')
    for row in reader:
        print([int(x) if x.isdigit() else x for x in row])

[1, 'Bulbasaur', 'Grass, Poison', 45, 49, 49, 65, 65, 45, 318]
[2, 'Ivysaur', 'Grass, Poison', 60, 62, 63, 80, 80, 60, 405]
[3, 'Venusaur', 'Grass, Poison', 80, 82, 83, 100, 100, 80, 525]